body {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
}


/*-------------MENU----------*/

nav {
    z-index: 1;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
    position: sticky;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #eeb334;
    color: black;
}

.active:hover {
    background-color: #e6962d;
}

.right-menu {
    float: right;
    color: #eeb334;
}


/*-------------MENU----------*/


/*-------------FILMEK----------*/

.courses-container {
    position: relative;
    margin-bottom: 55px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 5;
    width: 100%;
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 90%;
    height: 230px;
}

.review {
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 30px;
}

.review h2 {
    text-align: center;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 25px;
}

.course button {
    margin-top: 30%;
}

.course-info h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 16px;
    text-align: justify;
    margin-right: 30px;
}

.course-preview {
    background-color: #eeb334;
    color: #fff;
    padding: 30px;
    width: 30%;
}

.course-preview p {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 50px;
    text-decoration: none;
}

.course-preview a {
    color: #333;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 12px 18px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    margin-right: 9%;
}

.trash {
    margin-left: 25px;
    color: #333;
}


/*-------------FILMEK----------*/


/*-------------ÉRTÉKELÉS----------*/

.ertekeles-btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    margin-left: 15px;
    letter-spacing: 1px;
}

input[type=number] {
    width: 15%;
    border: 2px solid #eeb334;
    border-radius: 4px;
    height: 50px;
    font-size: 30px;
    margin-left: 15px;
    border-radius: 10px;
}

.ertekeles-cont h1 {
    margin-left: 15px;
    margin-top: 35px;
}


/*-------------ÉRTÉKELÉS----------*/


/*-------------ADD FILM----------*/

.addFilm-cont {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
    margin-top: 4%;
    margin-bottom: 30px;
}

.addFilm-cont input[type=text] {
    width: 90%;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    border: 2px solid #eeb334;
}

.addFilm-cont input[type=password] {
    width: 90%;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    border: 2px solid #eeb334;
}

.addFilm-cont input[type=checkbox] {
    margin-right: 10px;
}

.chbox {
    color: #333;
    margin-right: 15px;
}

.addFilm-cont select {
    width: 80%;
    margin-bottom: 18px;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
}

fieldset {
    width: 90%;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    border: 2px solid #eeb334;
}

legend {
    color: gray;
    padding: 0 5px;
}

textarea {
    width: 90%;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    margin-left: 0;
    border: 2px solid #eeb334;
    resize: none;
    height: 220px;
    font-family: 'Muli', sans-serif;
}

.addFilm-cont input[type=number] {
    width: 90%;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    margin-left: 0;
    border: 2px solid #eeb334;
}

.addFilm-btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    margin-left: auto;
    letter-spacing: 1px;
}


/*-------------ADD FILM----------*/


/*-------------MODOSITAS----------*/

.buttons {
    margin-top: 15%;
    text-align: center;
}

.buttons ul {
    list-style-type: none;
}

.buttons li {
    text-decoration: none;
    display: inline-block;
    margin-right: 5%;
}

.buttons li a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    border: 3px solid #eeb334;
    background-color: #eeb334;
    border-radius: 10px;
    padding: 10px;
}

.buttons li a:hover {
    font-size: 25px;
    color: black;
    text-decoration: none;
    border: 3px solid #e6962d;
    background-color: #e6962d;
    border-radius: 10px;
    padding: 10px;
}

footer a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 3px solid #eeb334;
    background-color: #eeb334;
    border-radius: 10px;
    padding: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 17px;
    background-color: #333;
}


/*-------------MODOSITAS----------*/


/*-------------SZINESZ----------*/

.container {
    display: inline-flex;
    width: 25%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    min-height: 650px;
}

.card-header img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-header {
    height: 350px;
}

.card-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 0px !important;
    padding-bottom: 40px;
}

.tag {
    background: #eeb334;
    border-radius: 50px;
    font-size: 18px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.nemzetiseg {
    font-size: 14px;
    background: #333;
    margin-bottom: 15px
}

.card-body h4 {
    font-size: 16px;
}

.card-body p {
    margin-bottom: 5px;
}

.card-body li {
    font-style: oblique;
    list-style-type: circle;
    margin-left: 15px;
    font-size: 17px;
    margin-top: 3px;
}

.trashszinesz a {
    margin-left: 15px;
    color: #333 !important;
}

.modifyszinesz a {
    margin-left: 15px;
    color: #333 !important;
}


/*-------------SZINESZ----------*/


/*-------------RENDEZO----------*/

#container {
    box-shadow: 0 10px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
}

.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
    padding-bottom: 5px;
}

#container .product-details h1 {
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    margin: 0;
}

#container .product-details h1:before {
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    display: inline-block;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
}

.product-image {
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 40%;
}

#container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.product-details p {
    background: #eeb334;
    border-radius: 50px;
    font-size: 15px;
    width: 50%;
    text-align: center;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.clapperboard {
    color: #333;
}

#container li {
    font-size: 18px;
    color: #e6962d;
}

#container ul {
    margin-bottom: 50px;
}

.rendezo-modify {
    margin-top: 35px;
}

.rendezo-modify a {
    color: #333;
}

.rendezo-remove a {
    color: #333;
    margin-left: 15px;
}


/*-------------RENDEZO----------*/


/*-------------STUDIO----------*/

.studio-filmek {
    padding: 30px;
    position: relative;
}

.studio-filmek h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 17px;
    text-align: justify;
    margin-right: 30px;
}

.studio-container {
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 45%;
    margin-left: 4%;
}

.studio {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 600px;
    height: 230px;
}

.studio h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.studio h2 {
    margin: 10px 0;
    font-size: 22px;
}

.studio-info h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 16px;
    text-align: justify;
    margin-right: 30px;
}

.studio-preview {
    background-color: #eeb334;
    color: #fff;
    padding: 30px;
    width: 40%;
}

.studio-preview p {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 50px;
    text-decoration: none;
}

.studio-preview a {
    color: #333;
}

.studio-filmek h2{
    font-size: 19px;
    font-style:oblique;
}


/*-------------STUDIO----------*/


/*-------------REG/LOG----------*/

.addFilm-btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    margin-left: auto;
    letter-spacing: 1px;
}

.addFilm-reglog {
    margin-left: 35px;
    text-decoration: none;
    background-color: #e6962d;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    letter-spacing: 1px;
}


/*-------------REG/LOG----------*/

/*-------------STATISZTIKA----------*/

table{
    width: 650px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 90px;


}
thead{
    background-color: #e6962d;
    text-align: center;
    height: 30px;
}

tbody{
    text-align: center;
    background-color: #333;
    color:white;
}

td{
    height: 30px;
}


.statdiv{
    margin: auto;
    width: 50%;
}
/*-------------STATISZTIKA----------*/